App_WebReferences/VenueRegistrationServiceReference/VenueRegistrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VenueRegistrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1260/VenueRegistrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1260/VenueRegistrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1260/VenueRegistrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:1260/VenueRegistrationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVenueRegistrationService_VenueRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:VenueRegistration" />
  </wsdl:message>
  <wsdl:message name="IVenueRegistrationService_VenueRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:VenueRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueRegistrationService_VenueLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:VenueLogin" />
  </wsdl:message>
  <wsdl:message name="IVenueRegistrationService_VenueLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:VenueLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueRegistrationService_AddArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:AddArtist" />
  </wsdl:message>
  <wsdl:message name="IVenueRegistrationService_AddArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddArtistResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueRegistrationService_AddShow_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShow" />
  </wsdl:message>
  <wsdl:message name="IVenueRegistrationService_AddShow_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShowResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueRegistrationService_AddShowDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShowDetails" />
  </wsdl:message>
  <wsdl:message name="IVenueRegistrationService_AddShowDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShowDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IVenueRegistrationService">
    <wsdl:operation name="VenueRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueRegistrationService/VenueRegistration" message="tns:IVenueRegistrationService_VenueRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueRegistrationService/VenueRegistrationResponse" message="tns:IVenueRegistrationService_VenueRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VenueLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueRegistrationService/VenueLogin" message="tns:IVenueRegistrationService_VenueLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueRegistrationService/VenueLoginResponse" message="tns:IVenueRegistrationService_VenueLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueRegistrationService/AddArtist" message="tns:IVenueRegistrationService_AddArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueRegistrationService/AddArtistResponse" message="tns:IVenueRegistrationService_AddArtist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShow">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueRegistrationService/AddShow" message="tns:IVenueRegistrationService_AddShow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueRegistrationService/AddShowResponse" message="tns:IVenueRegistrationService_AddShow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShowDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueRegistrationService/AddShowDetails" message="tns:IVenueRegistrationService_AddShowDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueRegistrationService/AddShowDetailsResponse" message="tns:IVenueRegistrationService_AddShowDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVenueRegistrationService" type="tns:IVenueRegistrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VenueRegistration">
      <soap:operation soapAction="http://tempuri.org/IVenueRegistrationService/VenueRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VenueLogin">
      <soap:operation soapAction="http://tempuri.org/IVenueRegistrationService/VenueLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddArtist">
      <soap:operation soapAction="http://tempuri.org/IVenueRegistrationService/AddArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShow">
      <soap:operation soapAction="http://tempuri.org/IVenueRegistrationService/AddShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShowDetails">
      <soap:operation soapAction="http://tempuri.org/IVenueRegistrationService/AddShowDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VenueRegistrationService">
    <wsdl:port name="BasicHttpBinding_IVenueRegistrationService" binding="tns:BasicHttpBinding_IVenueRegistrationService">
      <soap:address location="http://localhost:1260/VenueRegistrationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>